In [1]:
import pandas as pd

In [2]:
inp = '/Users/niall/Documents/Cypress_Code/Data/AWGN/noise_data_awgn_snr_minusfive_final_large.csv'
orig_data = pd.read_csv(inp, header=None)

/Users/niall/opt/anaconda3/envs/DCUML/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
orig_data.head()

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,NaN,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,...,22.000000,23.000000,24.000000,25.000000,26.000000,27.000000,28.000000,29.000000,30.000000,Label
1,0.0,0.137961,-2.218759,1.461544,-0.921720,-0.894610,1.555423,-1.979121,0.292558,1.515290,...,0.299821,0.903729,1.759500,3.556922,0.081351,-1.732266,0.803187,1.843057,-0.718918,1
2,1.0,2.961547,-1.244843,-1.559019,-1.027324,2.468289,2.495976,-0.822016,-0.312499,0.933532,...,-1.654626,3.710495,0.019646,-1.323685,-0.228353,0.282959,-0.813789,-1.454776,-1.459148,1
3,2.0,-0.534212,-1.338055,-2.724109,-1.286244,-0.264959,0.822393,-3.463709,0.208278,1.789759,...,-1.622777,3.049360,0.221112,-1.392702,0.194280,3.349352,-1.988425,3.789616,-2.620617,1
4,3.0,0.403390,-2.300901,0.052821,-0.452708,-2.050683,2.783498,-3.786282,-3.782630,0.156940,...,1.695143,-1.929813,-1.166715,2.352375,2.575895,0.737747,-0.898471,2.814837,-4.705185,1

In [7]:
del orig_data[0]

In [8]:
orig_data.head()

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,31,32
0,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,...,22.000000,23.000000,24.000000,25.000000,26.000000,27.000000,28.000000,29.000000,30.000000,Label
1,0.137961,-2.218759,1.461544,-0.921720,-0.894610,1.555423,-1.979121,0.292558,1.515290,0.396293,...,0.299821,0.903729,1.759500,3.556922,0.081351,-1.732266,0.803187,1.843057,-0.718918,1
2,2.961547,-1.244843,-1.559019,-1.027324,2.468289,2.495976,-0.822016,-0.312499,0.933532,2.424891,...,-1.654626,3.710495,0.019646,-1.323685,-0.228353,0.282959,-0.813789,-1.454776,-1.459148,1
3,-0.534212,-1.338055,-2.724109,-1.286244,-0.264959,0.822393,-3.463709,0.208278,1.789759,-3.462317,...,-1.622777,3.049360,0.221112,-1.392702,0.194280,3.349352,-1.988425,3.789616,-2.620617,1
4,0.403390,-2.300901,0.052821,-0.452708,-2.050683,2.783498,-3.786282,-3.782630,0.156940,-0.290398,...,1.695143,-1.929813,-1.166715,2.352375,2.575895,0.737747,-0.898471,2.814837,-4.705185,1

In [12]:
df = orig_data.drop([0])

In [13]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,31,32
1,0.137961,-2.218759,1.461544,-0.921720,-0.894610,1.555423,-1.979121,0.292558,1.515290,0.396293,...,0.299821,0.903729,1.759500,3.556922,0.081351,-1.732266,0.803187,1.843057,-0.718918,1
2,2.961547,-1.244843,-1.559019,-1.027324,2.468289,2.495976,-0.822016,-0.312499,0.933532,2.424891,...,-1.654626,3.710495,0.019646,-1.323685,-0.228353,0.282959,-0.813789,-1.454776,-1.459148,1
3,-0.534212,-1.338055,-2.724109,-1.286244,-0.264959,0.822393,-3.463709,0.208278,1.789759,-3.462317,...,-1.622777,3.049360,0.221112,-1.392702,0.194280,3.349352,-1.988425,3.789616,-2.620617,1
4,0.403390,-2.300901,0.052821,-0.452708,-2.050683,2.783498,-3.786282,-3.782630,0.156940,-0.290398,...,1.695143,-1.929813,-1.166715,2.352375,2.575895,0.737747,-0.898471,2.814837,-4.705185,1
5,-1.653831,-0.915419,-2.080474,-3.163035,-1.118890,2.877106,-1.530021,-2.126337,-0.189772,1.955762,...,-3.177100,-0.076040,-2.191211,-1.416315,-0.425013,1.093812,-1.831562,1.508243,0.800199,1

In [14]:
list(df.columns)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32]

In [18]:
df.columns = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,'Label']

In [19]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
1,0.137961,-2.218759,1.461544,-0.921720,-0.894610,1.555423,-1.979121,0.292558,1.515290,0.396293,...,0.299821,0.903729,1.759500,3.556922,0.081351,-1.732266,0.803187,1.843057,-0.718918,1
2,2.961547,-1.244843,-1.559019,-1.027324,2.468289,2.495976,-0.822016,-0.312499,0.933532,2.424891,...,-1.654626,3.710495,0.019646,-1.323685,-0.228353,0.282959,-0.813789,-1.454776,-1.459148,1
3,-0.534212,-1.338055,-2.724109,-1.286244,-0.264959,0.822393,-3.463709,0.208278,1.789759,-3.462317,...,-1.622777,3.049360,0.221112,-1.392702,0.194280,3.349352,-1.988425,3.789616,-2.620617,1
4,0.403390,-2.300901,0.052821,-0.452708,-2.050683,2.783498,-3.786282,-3.782630,0.156940,-0.290398,...,1.695143,-1.929813,-1.166715,2.352375,2.575895,0.737747,-0.898471,2.814837,-4.705185,1
5,-1.653831,-0.915419,-2.080474,-3.163035,-1.118890,2.877106,-1.530021,-2.126337,-0.189772,1.955762,...,-3.177100,-0.076040,-2.191211,-1.416315,-0.425013,1.093812,-1.831562,1.508243,0.800199,1

In [20]:
df.to_csv('/Users/niall/Documents/Cypress_Code/Data/AWGN/noise_data_awgn_snr_minusfive_final_large.csv')

In [24]:
ref_ref_data = pd.read_csv("/Users/niall/Documents/Cypress_Code/Data/AWGN/noise_data_awgn_ref_ref_big_add.csv",header=None)
ref_ref_data['Label'] = 1
ref_ref_data.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,0.382384,-2.091411,0.467902,-2.132132,-0.405998,1.410389,1.005954,1.783417,1.517610,0.883992,...,-0.371261,2.200789,-1.725475,0.372477,1.064761,-0.739543,1.611261,-1.064555,0.478477,1
1,-1.545463,-2.221908,2.662478,0.957951,-1.755519,0.852481,-0.249880,-2.032904,-2.162787,-1.610816,...,1.599195,1.265784,1.557079,3.392447,-1.361299,-0.820730,-2.233861,1.292376,1.069733,1
2,2.295514,-0.815556,-3.570021,-0.680639,-0.043104,-0.332078,-0.205215,0.325474,0.278064,-1.637027,...,-1.530659,2.178430,-5.773520,3.165525,2.592176,2.490892,0.961750,0.402441,-2.735435,1
3,1.324937,0.267120,-3.204868,-2.598217,-2.276712,2.452094,-0.874665,-0.737458,-0.491503,-3.606733,...,0.342730,-0.200835,-1.170261,1.937389,0.906653,2.981057,-4.368365,0.713533,-0.683728,1
4,2.465785,-1.121842,0.781994,-1.918941,-0.508452,-0.100192,3.894419,-2.294976,-1.327457,0.787926,...,3.336975,-0.829752,-1.245780,1.024282,-0.151086,2.508929,-2.118570,-3.660906,0.460220,1

In [25]:
non_ref_data = pd.read_csv("/Users/niall/Documents/Cypress_Code/Data/AWGN/noise_data_awgn_non_ref_ref_big_add.csv",header=None)
non_ref_data['Label'] = 0
non_ref_data.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,0.255059,1.190078,0.995568,0.404786,-0.528214,1.118551,-1.818277,-2.292342,0.915154,-0.303827,...,0.387064,3.083111,-4.430204,0.923824,0.319457,1.291342,0.594386,1.928873,-0.567704,0
1,-0.515788,-2.593865,-1.816406,3.800226,1.250927,-3.710223,0.323126,1.167522,2.367604,-1.695690,...,0.040184,1.079463,-1.189133,-1.820038,4.828310,2.028937,2.641520,2.393096,1.845690,0
2,2.071373,1.253152,-0.366767,-0.353655,2.495562,-1.871466,-2.721381,-0.300826,-2.427705,1.794592,...,-3.692229,2.816406,2.871496,1.080614,1.036826,1.840672,-0.538573,-1.744402,-3.255484,0
3,-2.367586,-0.196309,0.009711,-2.775513,-0.092864,-1.856309,-1.009120,0.236891,2.069240,-0.100510,...,-0.648656,-0.645071,1.157022,2.463161,0.021056,0.363910,0.725362,-2.064152,0.205000,0
4,2.774412,0.085979,1.150799,-0.577436,0.329423,-1.549902,-1.019955,-1.094219,-0.793078,-0.955735,...,-3.735930,1.108781,-2.355741,-5.459965,-1.930664,1.769024,-3.559670,1.879469,-1.202092,0

In [26]:
awgn_dataset = ref_ref_data.append(non_ref_data, ignore_index = True)

In [27]:
awgn_dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,0.382384,-2.091411,0.467902,-2.132132,-0.405998,1.410389,1.005954,1.783417,1.517610,0.883992,...,-0.371261,2.200789,-1.725475,0.372477,1.064761,-0.739543,1.611261,-1.064555,0.478477,1
1,-1.545463,-2.221908,2.662478,0.957951,-1.755519,0.852481,-0.249880,-2.032904,-2.162787,-1.610816,...,1.599195,1.265784,1.557079,3.392447,-1.361299,-0.820730,-2.233861,1.292376,1.069733,1
2,2.295514,-0.815556,-3.570021,-0.680639,-0.043104,-0.332078,-0.205215,0.325474,0.278064,-1.637027,...,-1.530659,2.178430,-5.773520,3.165525,2.592176,2.490892,0.961750,0.402441,-2.735435,1
3,1.324937,0.267120,-3.204868,-2.598217,-2.276712,2.452094,-0.874665,-0.737458,-0.491503,-3.606733,...,0.342730,-0.200835,-1.170261,1.937389,0.906653,2.981057,-4.368365,0.713533,-0.683728,1
4,2.465785,-1.121842,0.781994,-1.918941,-0.508452,-0.100192,3.894419,-2.294976,-1.327457,0.787926,...,3.336975,-0.829752,-1.245780,1.024282,-0.151086,2.508929,-2.118570,-3.660906,0.460220,1

In [28]:
awgn_dataset_new = df.append(awgn_dataset, ignore_index = True)

In [29]:
awgn_dataset_new.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,0.137961,-2.218759,1.461544,-0.921720,-0.894610,1.555423,-1.979121,0.292558,1.515290,0.396293,...,0.299821,0.903729,1.759500,3.556922,0.081351,-1.732266,0.803187,1.843057,-0.718918,1
1,2.961547,-1.244843,-1.559019,-1.027324,2.468289,2.495976,-0.822016,-0.312499,0.933532,2.424891,...,-1.654626,3.710495,0.019646,-1.323685,-0.228353,0.282959,-0.813789,-1.454776,-1.459148,1
2,-0.534212,-1.338055,-2.724109,-1.286244,-0.264959,0.822393,-3.463709,0.208278,1.789759,-3.462317,...,-1.622777,3.049360,0.221112,-1.392702,0.194280,3.349352,-1.988425,3.789616,-2.620617,1
3,0.403390,-2.300901,0.052821,-0.452708,-2.050683,2.783498,-3.786282,-3.782630,0.156940,-0.290398,...,1.695143,-1.929813,-1.166715,2.352375,2.575895,0.737747,-0.898471,2.814837,-4.705185,1
4,-1.653831,-0.915419,-2.080474,-3.163035,-1.118890,2.877106,-1.530021,-2.126337,-0.189772,1.955762,...,-3.177100,-0.076040,-2.191211,-1.416315,-0.425013,1.093812,-1.831562,1.508243,0.800199,1

In [33]:
awgn_dataset_new.to_csv('/Users/niall/Documents/Cypress_Code/Data/AWGN/noise_data_awgn_snr_minusfive_final_large_big_new1.csv')

In [34]:
len(awgn_dataset_new)

920000

In [35]:
ref_ref_data = pd.read_csv("/Users/niall/Documents/Cypress_Code/Data/AWGN/noise_data_awgn_ref_ref_snrzero_add.csv",header=None)
ref_ref_data['Label'] = 1
ref_ref_data.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,0.768015,-0.349837,-0.511026,-0.606452,-0.689039,0.796989,-1.514519,-0.459273,0.736907,-1.772329,...,1.560331,1.473308,-1.118075,0.270189,1.900325,0.735182,-2.697280,1.831979,-0.398833,1
1,0.832378,-0.223275,-0.986360,-1.396612,-1.447508,-0.016136,-0.728441,-0.140001,0.357776,0.643751,...,1.806145,0.503628,-0.367090,1.893427,1.038549,1.469247,-2.119253,2.091797,-2.139891,1
2,0.629205,-1.176193,-0.289402,-0.667206,1.142911,0.088158,-2.975533,-0.655016,-0.257386,-0.284969,...,0.189764,0.930487,-0.574961,1.901459,1.069249,1.607032,-0.718374,-1.090251,0.673101,1
3,0.419300,-1.623409,-0.946241,0.626733,0.585584,0.905100,-1.755881,-1.119110,0.914775,-1.166913,...,0.061870,0.290569,-0.690619,1.026193,0.437829,2.437545,-0.361078,1.276702,-1.236973,1
4,0.894932,-0.001221,-0.465182,-0.478007,-1.215861,1.531956,-1.830135,-0.760979,0.773667,0.136375,...,0.912000,-0.204075,-3.009737,0.781203,1.907373,1.861618,-1.760609,1.897759,0.493254,1

In [36]:
non_ref_data = pd.read_csv("/Users/niall/Documents/Cypress_Code/Data/AWGN/noise_data_awgn_non_ref_ref_snrzero_add.csv",header=None)
non_ref_data['Label'] = 0
non_ref_data.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,1.394962,-1.620100,0.271130,0.279404,-0.203840,0.393150,0.187497,1.681004,1.437423,-0.744434,...,-1.888064,2.397616,0.553391,-1.021692,-2.313724,-1.769950,2.006750,-1.713513,-0.598617,0
1,-1.753210,1.722738,1.321343,-0.111811,0.675279,2.593770,-0.974780,-1.653039,0.762845,-0.614186,...,1.273269,1.452001,-2.847687,-0.503141,0.629624,-1.190605,2.973066,0.869254,1.339902,0
2,-2.047069,-2.920958,1.730426,-2.336346,0.535596,-0.273178,-1.179758,-1.160751,-0.673787,-0.175418,...,-2.210117,0.386297,-2.254240,1.052155,-1.172165,1.201132,-1.044060,0.518039,0.740055,0
3,0.427611,0.086810,-1.619050,2.244122,1.265831,-0.515093,1.002183,0.124661,-0.859913,-2.451124,...,-0.629335,-0.854274,-1.386305,0.143816,-0.842922,0.288438,1.116173,-0.900314,0.087533,0
4,2.114510,-1.573628,1.707256,1.392298,2.189916,-1.123190,1.428884,-1.019700,2.090311,-0.857357,...,1.462953,2.482102,0.598516,1.222554,1.686638,0.543685,-0.709959,-1.587274,1.724273,0

In [37]:
awgn_dataset = ref_ref_data.append(non_ref_data, ignore_index = True)

In [38]:
awgn_dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Label
0,0.768015,-0.349837,-0.511026,-0.606452,-0.689039,0.796989,-1.514519,-0.459273,0.736907,-1.772329,...,1.560331,1.473308,-1.118075,0.270189,1.900325,0.735182,-2.697280,1.831979,-0.398833,1
1,0.832378,-0.223275,-0.986360,-1.396612,-1.447508,-0.016136,-0.728441,-0.140001,0.357776,0.643751,...,1.806145,0.503628,-0.367090,1.893427,1.038549,1.469247,-2.119253,2.091797,-2.139891,1
2,0.629205,-1.176193,-0.289402,-0.667206,1.142911,0.088158,-2.975533,-0.655016,-0.257386,-0.284969,...,0.189764,0.930487,-0.574961,1.901459,1.069249,1.607032,-0.718374,-1.090251,0.673101,1
3,0.419300,-1.623409,-0.946241,0.626733,0.585584,0.905100,-1.755881,-1.119110,0.914775,-1.166913,...,0.061870,0.290569,-0.690619,1.026193,0.437829,2.437545,-0.361078,1.276702,-1.236973,1
4,0.894932,-0.001221,-0.465182,-0.478007,-1.215861,1.531956,-1.830135,-0.760979,0.773667,0.136375,...,0.912000,-0.204075,-3.009737,0.781203,1.907373,1.861618,-1.760609,1.897759,0.493254,1

In [39]:
awgn_dataset.to_csv('/Users/niall/Documents/Cypress_Code/Data/AWGN/noise_data_awgn_snr_zero_final_new.csv')

In [40]:
len(awgn_dataset)

520000